{% extends "base.html.j2" %}


{% block title %}Aquí tienes tu Emoji{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}


{% block content %}
    <br>
    <h3 class="text-center">¡Aquí tienes tu Emoji!</h3>
    <br>
    <div class="row">
        <div class="col-8 offset-2 border border-secondary rounded text-center align-items-center">
            <br>
            <h1 class="text-lg-center emoji-big">{{ emoji[0] }}</h1>
            <br>
            <h5>{{ emoji[1] }}</h5>
        </div>
    </div>

    <br>
    <form class="" id="send-feedback" action="{{ url_for("send_feedback") }}" method="post">
        {{ form.hidden_tag() }}
        <h5 class="text-center">¿Estas satisfecho con tu Emoji?</h5>
        <div class="row">
            <div class="col-5 offset-1">
                <button id="yes-btn" type="submit" name="{{ form.feedback.name }}" value="yes" class="btn btn-block btn-lg btn-success">SI</button>
            </div>
            <div class="col-5">
                <button id="no-btn" type="submit" name="{{ form.feedback.name }}" value="no" class="btn btn-block btn-lg btn-danger">NO</button>
            </div>
        </div>
        </div>
    </form>

{% endblock %}