{% extends "base.html.j2" %}


{% block title %}Obten tu Emoji{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}


{% block content %}

    <form class="" id="request-emoji" action="request-emoji" method="post">
        {{ form.hidden_tag() }}
        <div class="row btn-group-toggle btn-lg align-items-center" data-toggle="buttons">
            {% for category in categories %}
            <div class="col-6">
                <label class="btn btn-block btn-outline-dark btn-secondary{% if category == default_category %} active{% endif %}">
                    <input class="invisible small" type="radio" name="{{ form.category.name }}" value="{{ category[0] }}" id="{{ form.category.id }}" autocomplete="off"{% if category == default_category %} checked{% endif %}>
                    <h1 class="emoji">{{ category[1] }}</h1><h5>category</h5>

                </label>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <button type="submit" class="btn btn-lg btn-block btn-primary">¡Obten tu Emoji!</button>
            </div>
        </div>
    </form>

{% endblock %}